<div class="container" id="signin">
  <div class="content sign">
    <h2 class="copy">星でも数えようじゃないか</h2>
    <h1 class="logo-wrapper"><img src="/assets/images/counting_stars_logo.png"></h1>
    <form class="sign-form" action="/signin" method="post">
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="SIGN IN"><br>
    </form>
    <a href="/signup" class="link">新規登録はこちら</a>
  </div>
</div>